services:
  proxy:
    image: nginx:alpine
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
    depends_on:
      - frontend
      - backend

  frontend:
    image: kailus.dev/wims-org/wims-frontend:dev
    build: ./vue_frontend
    depends_on:
      - backend

  backend:
    image: kailus.dev/wims-org/wims-backend:dev
    build: ./backend
    depends_on:
      - db
    volumes:
      - ./docker/config.default.yml:/app/src/config.yml:ro
    environment:
      - database.host=db
      - database.user=root
      - database.password=example
      - camera.url=http://192.168.178.184:8080/stream
      - RUN_MODE=production

  db:
    image: mongodb/mongodb-community-server:latest
    restart: unless-stopped
    volumes:
      - mongodb-data:/data/db
      - ./docker/mongo_init.js:/docker-entrypoint-initdb.d/e_setup_database.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

volumes:
  mongodb-data: