@import './base.css';

:root {
  --primary-bg-color: #f8f9fa;
  --secondary-bg-color: lightgreen;
  --border-color: #dee2e6;
  --primary-text-color: #212529;
  --primary-link-color: hsla(160, 100%, 37%, 1);
  --primary-accent-color: #0056b3;
  --content-max-width-small: 100%;
  --content-max-width: 1000px;
}

#app {
  max-width: 1280px;
  width: 100vw;
  margin: 0 0;
  padding: 0 0 !important;

  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type='checkbox'] {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    min-width: 60rem;
    /* grid-template-columns: 1fr 1fr; */
  }
}

@media (max-width: 1023px) {
  body {
    display: block;
  }

  #app {
  }
}

.block-item-list {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
  }

  li:hover {
    background-color: #e0e0e0;
  }

  li.active {
    background-color: #007bff;
    color: #ffffff;
  }

  li.active:hover {
    background-color: #0056b3;
  }

  .text-muted {
    color: #6c757d;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: 1rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}
