{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block title %}
Item Details
{% endblock %}


{% block content %}

<pre>{{ render_messages(container=False, dismissible=True) }}</pre>
<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Item {{ rfid }}</h1>
            <p class="lead"></p>
            <form name="item_form" method="POST" action="{{ url_for('item', reader=reader, rfid=rfid) }}">
                {{ render_form(item_form) }}
            </form>
            <p class="pt-5"><strong>{{ message }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}