{% extends 'base.html' %}

{% block title %}
Current RFID Reader: {{ reader }}
{% endblock %}


{% block content %}
<div id="target_div">Watch this space...</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 ps-md-5">

      <!-- note, the id is not used in the template -->
      
      <h1 class="pt-5 pb-2">{{ rfid }}</h1>
      <h1 class="pt-5 pb-2">Choose an action:</h1>
      <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('item', reader=reader, rfid=rfid) }}" class="btn btn-primary">Edit Item</a>
        </li>
        <li class="list-group-item">
          <a href="{{ url_for('user', reader=reader, rfid=rfid) }}" class="btn btn-primary">User</a>
        </li>
      </ul>

      <p><a href="{{ url_for('index') }}">Return</a></p>

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

    </div>
    <div class="col-md-6">

      <img src="{{ photo }}" alt="Photo: {{ name }}" class="img-fluid pt-5">

      <p><em>Above: {{ name }}</em></p>

    </div>
  </div>
</div>

{% endblock %}